/**/private/
/stock
/dcm/bpl
/dcm/oos
/libs
/modules
/.jacocoverage/
/dbcreator/log/
/dbcreator/resources/dbcreator_servers.xml
/.nb-gradle/
/.gradle/
/build-cache/
/**/build/
/**/.gradle/
/**/build/
/**/dist/
/**/build-impl.xml~
/**/genfiles.properties
/**/jboss.xml
/**/gradle.properties
/.idea/
/genpack/
/log
